form{
  padding: 15px;
  background-color: #F6F8FA;
  border-top: #D1D5DA solid 2px;
  border-bottom: #D1D5DA solid 2px;
  display: flex;
  flex-direction: row;
}

label{
  display: flex;
  flex-direction: row;
  align-items: center;
}

select{
  margin: 0 15px 0 5px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D1D5DA;
}

input{
  border-radius: 5px;
  border: none;
  padding: 10px;
  border: 1px solid #D1D5DA;
  width: 90%;
}

.movie-list{
  display: flex;
  flex-direction: row;
}